<<<<<<< HEAD
/* css related to cart.html */

#user-profile .users{
    font-size: 38px;
}
.user-name{
    /* text-align: right; */
    border: 0.5px solid rgba(0, 0, 0, 0.507);
    margin-bottom: 5px;
}
.user-name span{
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
}

#profile-img{
    font-size: 50px;
    padding: 10px;
    width: 70px;
    height: 70px;
    border-radius: 50% ;
}
.user-area {
    font-size: 18px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.507);
    margin-bottom: 5px;
}
.user-area a{
    padding: 20px 0px;
    margin-bottom: 50px;
}
.user-area span{
    margin-left: 10px;
}
.user-info{
    margin-bottom: 5px;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.507);
}
.user-logout{
    text-align: right;
}
#product-desc{
    margin-top: 60px;
    text-align: center;
    font-size: 48px;
    text-transform: capitalize;
    font-weight: 800;
}
.product-text{
    font-size: 20px;
    margin: 20px 0px;
}
#review-section{
    margin: 20px 0px;
}
.extra-section{
    max-width: 1400px;
    display: flex;
}
#about-us{
    width: 750px;
    margin: 5px auto;
    text-align: center;
}
#about-us h1{
    border-bottom: 0.2px solid black;
}
#about-us p{
    font-size: 20px;
    margin: 10px;
}
#contact-us{
    width: 750px;
    margin: auto;
}
#contact-us h2{
    text-transform: uppercase;
    padding: 10px;
    width: 280px;
    border-bottom: 2px dashed;
}
#contact-us p{
    font-size: 20px;
}
#contact-us  .bold{
    font-weight: 600;
}
#terms-condition{
    width: 1250px;
    height: auto;
    margin: 5px auto;
    text-align: left;
    border: 1px solid black;
}
#terms-condition strong{
    text-decoration: underline;
}
#terms-condition p, ul, strong, table{
    margin: 15px;
}
#terms-condition .space{
    padding-left: 35px ;
    padding-bottom: 15px;
}
#terms-condition .no-bottom{
    padding-bottom: 0px !important;
}
.apply{
    float: right ;
    width: 80px;
    height: 30px;
    padding: 0px !important;
}


/* banner */
#banner{
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;;
    box-shadow:hsl(0, 0%, 80%) 0 0 16px;
    background-color: #fff;
}
.brand-name{
margin: 15px 0px 0px 0px!important;
font-family: 'Teko', sans-serif;
border: 0.5px solid rgba(0, 0, 0, 0.377);
border-radius: 10px;
background-color: rgba(255, 0, 0, 0.7);
}
.brand-name span{
font-family: 'Teko', sans-serif;
font-size: 114px;
font-weight: 400;
word-spacing: 1px;
line-height: 1em;
padding: 3px;
color:whitesmoke;
}
.brand-name .l-s{
color: black;
padding-left: 5px !important;
text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #272526,
-0.2rem 0.1rem 1rem#272526, 0.2rem 0.1rem 1rem #272526,
0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
animation: shine 2s forwards, blink 10s 1s infinite;
}
.brand-name h4{
padding-bottom: 10px !important;
font-size: 40px;
font-weight: 400;
text-align: center;
line-height: 0.3em;
/* background: 50% 100% / 50% 50% no-repeat
            radial-gradient(ellipse at bottom, #fff, transparent, transparent); */
background-clip: text;
-webkit-background-clip: text;
color: transparent;
font-family: "Source Sans Pro", sans-serif !important;
animation: reveal 3000ms ease-in-out forwards 200ms,
            glow 3500ms linear infinite 2000ms;
}
.brand-name .l-m{
color:orange;
font-weight: 600;
}
.brand-info{
margin: 15px 0px 0px 0px!important;
background: transparent;
}
.brand-info pre{
font-size: 18px;
font-family:'Poppins', sans-serif;
padding: 25px;
border-radius: 25%;
/* color: #6b1839; */
animation-name: example;
animation-duration: 4s;
animation-iteration-count: infinite;
animation-direction: alternate;
}
.brand-img{
margin: 0px !important;
position: relative;
}
.brand-img img{
width: 80px;
height: 100px;
}
.brand-img h4{
background: linear-gradient(to right, #e72a3a 10%, #fff 50%, #5bdaff 60%);
background-size: auto auto;
    background-clip: border-box;
color: rgb(29, 28, 28);
background-clip: text;
background-size: 200% auto;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
animation: textclip 2.5s linear infinite;
border: 4px solid crimson;
box-shadow:hsl(0, 67%, 66%) 0 0 16px ;
padding-left: 65px;
font-size: 48px;
}
.brand-img .bulb{
/* filter: blur(1px) saturate(2); */
animation-name: blurr;
animation-duration: 3s;
animation-iteration-count: infinite;
animation-direction: alternate;
}
.brand-img .bulb-2{
position: absolute;
top: 0px;
left: 320px;
}
.brand-img .bulb-3{

position: absolute;
top: 0px;
left: 160px;
}
#footer-tag{
box-shadow:hsl(0, 0%, 80%) 0 0 16px;
    background-color: #fff;
border: 0.5px solid rgba(0, 0, 0, 0.5);
margin: 5px auto;
}
#footer-tag div{
border-right: 1px solid  rgba(0, 0, 0, 0.5);
padding-left: 75px;
padding-top: 25px;
padding-bottom: 25px;
}
#footer-tag div:nth-child(3){
border-right: none;
}
#footer-tag img{
margin-bottom: 10px;
width:50px;
height:50px;
}
.slider-content{
padding: 10px;
background: #fff;
text-align: center;
text-transform: uppercase;
border: 1px solid rgba(0, 0, 0, 0.432);
box-shadow:hsl(0, 0%, 80%) 0 0 16px;
}
.slider-content h1{
background: linear-gradient(rgb(43, 43, 38),rgb(191, 191, 206));
color: rgba(0, 0, 0, 0.664);
padding: 5px auto !important;
box-shadow:hsl(0, 0%, 80%) 0 0 16px;
text-shadow: rgb(105, 128, 128) 0 0 10px;

}
.slider-img img{
width: 250px;
height: 250px;
}
@keyframes textclip {
    to {
        background-position: 200% center;
    }
}
@keyframes blurr{
from{
    filter: blur(3px) ;
}
to{
    filter: blur(0px) ;
}
}
@keyframes example {
from {background-color: white;}
to {background-color: #6b183991;}

}
@keyframes reveal {
80%{
    letter-spacing: 1px;
}
100% {
    background-size: 300% 300%;
}
}
@keyframes glow {
40% {
    text-shadow: 0 0 2px #fff;
}
}
@keyframes shine {
0% {
    color: #6b1839;
    text-shadow: none;
}
100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
}
}
@keyframes blink {
0%,
22%,
36%,
75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
    -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
    0 -0.5rem 2rem black, 0 0.5rem 3rem black;
}
28%,
33% {
    color: #3577ad;
    text-shadow: none;
}
82%,
97% {
    color: #3577ad;
    text-shadow: none;
}
}
=======
>>>>>>> dd68b189e98b072c2f8fac59112139352088294d
